/* Varibles */
:root {
  --fuenteprincipal: 'Open Sans', sans-serif;
}

/* Hacks */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {

  font-size: 1.4rem;
  font-family: var(--fuenteprincipal);
}

/* Utilidades */
.br-1{border-radius: .5rem;}

.mr-1{margin-right: 1rem}
.mt-1{margin-top: 1rem;}

.m-center{ margin:0 auto;}

.text-center{text-align: center;}

.container{max-width: 95%; margin: 0 auto;}

.upper{text-transform: uppercase;}
.bold{font-weight: bold;}

.block{display: block;}

/*Utilidades flexbox */
.d-flex{display: flex;}
.flex-1{flex: 1;}
.justify-center{ justify-content: center;}
.aling-center{align-items: center;}


/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  background-color: #212529;
  color: #F1FFF8;
}

.header__title {
  margin: 1rem 0;
}

.logo__imagen {
  height: 6.5rem;
}

.header__toggle {
  padding: 1rem;
}

@media (min-width: 768px){
  .header__toggle{display: none;}
  .header__nav{display: flex;}
}

.header__nav{
  display: none;
}

.header__nav__link{
  display: block;
  text-decoration: none;
  color: #F1FFF8;
}
.header__nav__link{
  display: block;
  text-decoration: none;
  color: #F1FFF8;
  margin: 1rem 1rem 1rem 0rem;
  text-transform: uppercase;
}
.header__nav__link:hover{
  color: #212529;
}

.hearder__nav--active{
  display: block;
}
@media (min-width: 768px){
  .header__nav{display: block;}
  .header__nav__link{
    display: inline-block;
    margin-right: 1rem;
  }
  .header__nav__link:last-child{
    margin-right: 0rem;
  }
}



/* Formulario */ 
.registro{max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}


  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type="text"],
    input[type="tel"],input[type="email"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
.registro__grupo{
  border: solid 1px blue;
}